.primary-card {
    .vs-card {
        background-color: hsl(159 83% 51%) !important;
        box-shadow: 0 14px 26px -12px var(--primary-shadow-from), 0 4px 23px 0 var(--base-shadow),
            0 8px 10px -5px var(--primary-shadow-to) !important;
        color: #fff !important;
        .muted-text {
            color: rgba(250, 250, 250, 0.9) !important;
        }
    }
}

.vs-card {
    // border-radius: 6px !important;
    // border: 1px solid hsl(240 4% 26%);
    background-color: hsl(240, 4%, 20%) !important;
    color: var(--text-color) !important;
}
